<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	<bean id="helloSVC" name="hs" class="aop_01.HelloServiceKo"></bean>
	<bean id="myaspect" class="aop_01.aspect.MyAspect"></bean>
	<aop:config>
		<aop:aspect id="msAspect" ref="myaspect">
			<aop:pointcut expression="execution(* sayHello(..))" id="pc"/>
			<aop:before method="before" pointcut-ref="pc"/>
			<aop:after method="after" pointcut-ref="pc"/>  
			<aop:after-returning method="after_return" returning="r" pointcut-ref="pc"/>
			
			<aop:around method="around" pointcut-ref="pc" />
		</aop:aspect>
	</aop:config>
</beans>
