<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- DB연결은 DataSource를 통해 정의  -->
	<bean id="mysql-ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>	
		<property name="url" value="jdbc:mysql://localhost:3306/com"></property>	
		<property name="username" value="com"></property>	
		<property name="password" value="com01"></property>	
	</bean>
	
	
	<!-- SQL 실행용 객체 -->
	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="mysql-ds"></property>
	</bean>
</beans>
