<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="di_02.MyCalc" autowire="byType" scope="prototype"></bean>
	
	<bean id="logger2" class="di_02.MyLoggerFile"></bean>
	<!-- <bean id="logger" class="di_02.MyLogger"></bean> -->
</beans>
